body {
	overflow-y: scroll; 
	padding: 0; 
	margin: 0; 
	font-size: 18px; 
	height: 2000px;
}

.popup-position{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7); 
	width: 100%;
	height: 100%;
}
#popup-wrapper{
	width: 500px;
	margin: 70px auto;
	text-align: left;
}
#popup-container{
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
}

.exit a:-webkit-any-link{
text-decoration:none !important;
color: red;
float: right;
font-weight: bold;
font-size: 24px;
margin-top: -35px;
}

.user span {
	background-color: lightgrey;
	border-style: solid;
    border-width: 15px;
    border-color: lightgrey;
    float: right;
    margin-right: 10%;
    margin-top: 8px;
}

.default span {
	background-color: lightGreen;
	border-style: solid;
    border-width: 15px;
    border-color: lightGreen;
    float: right;
   	margin-right: 10%;
    margin-top: 8px;
}

.admin span {
	background-color: red;
	border-style: solid;
    border-width: 15px;
    border-color: red;
    float: right;
    margin-right: 10%;
    margin-top: 8px;

}

.owner span {
	background-color: orange;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	border-radius: 81px 81px 81px 81px;
	-moz-border-radius: 81px 81px 81px 81px;
	-webkit-border-radius: 81px 81px 81px 81px;
	border-style: solid;
    border-width: 15px;
    border-color: orange;
    float: right;
    margin-right: 2%;
    margin-top: 8px;

}

input[name='logout'] ,input[name='login'] {
	width: 150px;
	height: 30px;
	margin-top:20px;
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
	border-radius: 101px 101px 101px 101px;
	-moz-border-radius: 101px 101px 101px 101px;
	-webkit-border-radius: 101px 101px 101px 101px;
    transition: background-color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out;
   -webkit-transition: background-color .5s ease-in-out;
	border: 2px solid #32c960;
	color: #000;
	font-size: 17px;

}         

input[name='logout']:hover ,input[name='login']:hover {
	background-color: #32c960;
	color: #FFF;
	cursor: pointer;
}       

.header {
	position: fixed;
	width: 100%;
	height: 68.232px;
	background-color: #FFF;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}

.welcome {
	width: 35%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.welcomeu {
	width: 35%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.welcome span {
	line-height: 60px;
}

.welcomeu span {
	line-height: 60px;
}

.profile {
	text-align: center;
}

.profile a {
	color: Black;
	font-family: sans-serif;
	margin-top: 20px;
	margin-right: 30px;
	border-radius: 101px 101px 101px 101px;
	-moz-border-radius: 101px 101px 101px 101px;
	-webkit-border-radius: 101px 101px 101px 101px;
    transition: background-color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out;
   -webkit-transition: background-color .5s ease-in-out;
	width: 200px;
	height: 28px;
	font-size: 21px;
	text-decoration: none;
	border: 2px solid orange;

}

.profile a:hover {
	background-color: orange;
	color: #fff;
}

.blockhead {
	width: 100%;
	height: 68.232px;
}

img {
	width: 100%;
	height: 800px;
}


